body{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('images.jpg');
    
}

.container{
    width: 900px;
    margin: 0 auto;
    margin-top: 250px;
    text-align: center;
    font-size: 100px;
}
h1{
    
    background-image: url('download.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-clip: text;
    color: transparent;
    
    
}